Merging rows together exercise

In [2]:
import pandas as pd

In [40]:
# Creating some sample data

df = pd.DataFrame({
    'category':['A'] * 3 + ['A'] * 2
    ,'name':['Hello','World','I am','John','Smith']
    ,'num': range(1,6)
})

df

  category   name  num
0        A  Hello    1
1        A  World    2
2        A   I am    3
3        A   John    4
4        A  Smith    5

In [49]:
df.groupby('category').agg(
    {
        'name':lambda x:' '.join(x)
        ,'num':lambda x:x.max()
    })

                                 name  num
category
A         Hello World I am John Smith    5

In [23]:
df.groupby('category').agg(
    {
        'name':lambda x:', '.join(x)
        ,'num':lambda x:x.mean()
    })

                name  num
category
A         A1, A2, A3  2.0
B             B1, B2  4.5

In [30]:
words = ('Hello','my','name','is','John','Smith')
commas = ' '

In [32]:
commas.join(words)

'Hello my name is John Smith'

In [52]:
path_MBTI = 'H:\\A_INBOX\\mbti-myers-briggs-personality-type-dataset\\mbti_1.csv'

MBTI = pd.read_csv(path_MBTI)

MBTI.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [61]:
# Grouping and
MBTI_agg = MBTI.groupby('type').agg(
                                {'posts': lambda x: ' '.join(x)})

MBTI_agg.head()

                                                  posts
type
ENFJ  'https://www.youtube.com/watch?v=PLAaiKvHvZs||...
ENFP  'He doesn't want to go on the trip without me,...
ENTJ  'You're fired.|||That's another silly misconce...
ENTP  'I'm finding the lack of me in these posts ver...
ESFJ  'Why not?|||Any other ESFJs originally mistype...