# Expanding a range

This exercise solves a problem I faced at work, numerically filling-in the values between two know values in a dataframe. 

**Solution:**  Create a custom function to generate a list of all numeric values in a range and apply row-wise to a dataframe.

In [12]:
# Importing the necessary libraries
import pandas as pd

In [13]:
# Creating a Sample DataFrame
df = pd.DataFrame({'ColumnA': [10, 20 , 30, 40]
                    , 'ColumnB': [20, 30 , 40, 50]})

# Inspecting the dataframe
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
ColumnA    4 non-null int64
ColumnB    4 non-null int64
dtypes: int64(2)
memory usage: 144.0 bytes
None

   ColumnA  ColumnB
0       10       20
1       20       30
2       30       40
3       40       50

In [14]:
def expansion(value1, value2):
    '''Generates a list of number between a start and end values of a tuple'''
    
    expand_list = list(range(value1, value2 +1))
    
    return expand_list

In [15]:
# Applying the new function to each row
df['ColumnC'] = df.apply(lambda x: expansion(x['ColumnA'], x['ColumnB']), axis=1)

# Inspecting the dataframe
df.head()

   ColumnA  ColumnB                                       ColumnC
0       10       20  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
1       20       30  [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
2       30       40  [30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
3       40       50  [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [16]:
# Grouping all the lists of ColumnC
print(df['ColumnC'].sum())

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]